
/* 修改element进度条样式 */
.el-slider__runway {
  background-color: #eaeaea;
}

.el-slider__bar {
  background-color: #1ecd99 !important;
}

.el-slider__button {
  border: 1px solid #ccc !important;
  background-color: #1ecd99 !important;
  width: 14px !important;
  height: 14px !important;
}

.el-tabs__nav-wrap::after {
  height: 0!important;
}

.el-tabs__active-bar {
  background-color: #1ecf9d!important;
  bottom: 4px !important;
}

.el-table .cell {
  line-height: 20px !important;
  font-size: 14px !important;
  transform: scale(0.88);
  color: rgb(128, 128, 128) !important;
  text-overflow: ellipsis!important;
  overflow: hidden!important;
  white-space: nowrap!important;
}

.el-table .cell i:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.el-table th>.cell {
  font-weight:normal !important;
  font-size: 14px !important;
  transform: scale(0.88);
  color:rgb(148, 148, 148) !important;
  margin-bottom: 5px;
}

.el-table__row td:nth-child(3) .cell {
  color:rgb(36, 36, 36) !important;
} 

.el-table--mini td, .el-table--mini th {
  padding: 3px 0!important;
}

.el-table td, .el-table th.is-leaf {
  border: none !important;
}

.el-table__body tr.el-table__row--striped td {
  background-color: #fff !important;
}


.el-tabs__item:hover {
  color: black!important;
}
.el-tabs__item {
  font-size: 14px!important;
}
.el-tabs__item.is-active {
  color: black!important;
  font-weight: 600;
}
// 分页
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  background-color: #f4f4f4 !important;
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
  background-color: #1ecf9d !important;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background-color: #fff !important;
  border: 1px solid #ddd;
  font-weight: normal;
}

//评论
.el-dialog__body {
  padding: 0 20px 40px !important;
}

.el-dialog {
  border-radius: 10px !important;
}

.el-dialog__close:hover {
  color: #ea4848 !important;
}